table {
    width: 100%;
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 10px solid white;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
a{
    text-decoration:none;
    font-size:50pt;
    padding:20px;
    background: lightgray;
    color: black;
}
td {
    width: 16%;
    padding: 10px 15px;
    background: lightgray;
    border: 3px solid white;
    color: black;
}

tr{
    background: lightgray;
    border: 3px solid white;
    color: black;
}
h1{
    font-size:15pt;
    text-align: center;
    color: #000000;
    margin-bottom:20pt;
}

p{
    font-size:12pt;
    text-align: center;
    color: #000000;
    margin-bottom:5pt;
}
input[type="submit"], select, optgroup, option{
    border: 0;
    background:darkgray;
    display:block;
    margin:20px auto;
    text-align:center;
    border: 2px solid white;
    padding:14px 40px;
    width:200px;
    outline:none;
    color:black;
    cursor:pointer;
}